.wrapper {
  --title-size: 2em;
  --section-title-size: 1.2em;
  --regular-size: 1em;
  --condensed-size: 0.8em;

  &[data-size='c-md'] {
    & .input {
      font-size: var(--title-size);
    }
  }
  &[data-size='c-sm'] {
    & .input {
      font-size: var(--regular-size);
    }
  }
  &[data-size='c-sm+'] {
    & .input {
      font-size: var(--section-title-size);
    }
  }
  &[style*='text-align: start'] {
    & .input {
      text-align: start;
    }
  }
  &[style*='text-align: end'] {
    & .input {
      text-align: end;
    }
  }
  &[style*='text-align: center'] {
    & .input {
      text-align: center;
    }
  }
  &[data-size='title'] {
    & .input {
      font-size: var(--title-size);
    }
  }
}

*[data-alpha='true'] {
  display: none;
}

*[data-hue='true'] {
  padding-right: 0;
  margin-right: 0;
}

div[class*='mantine-ColorInput-preview'] {
  display: none;
}
